<h1>Collatter</h1>
<% if logged_in? %>
  <%= image_tag current_user.image_url.to_s %>
  <br><%= current_user.username %>
  <%= link_to 'ログアウト', logout_path, method: :delete %><!-- not working -->
<% else %>
  <%= link_to 'Twitterでログイン', '/auth/twitter' %>
  ログインしてください
<% end %>

<%= link_to 'Collatterの使い方', 'static_pages/about' %>

<p>最新のコラ画像</p>

<div class="favorite_collas">
<% @collas.each do |colla| %>
<div>
  <%= link_to colla, target: "_brank" do %>
    <%= image_tag colla.image.to_s %>
    <br><%= colla.tag_txt %>
  <% end %>
</div>
<% end %>
</div>

<%= link_to 'コラ画像一覧', 'collas' %>
<%= link_to 'テンプレート一覧', 'templates' %>

