<h1>Collatter</h1>
<%= link_to 'Twitterでログイン', '/auth/twitter' %>
<% if logged_in? %>
  ログインしています
  <%= current_user.username %>
<% else %>
  ログインしてください
<% end %>

<%= link_to 'Collatterの使い方', 'about' %>

<p>検索欄がここに入る</p>

<p>最新のコラ画像</p>

<div class="favorite_collas">
<% @collas.each do |colla| %>
<div>
  <%= link_to colla, target: "_brank" do %>
    <%= image_tag colla.image.to_s %>
    <br><%= colla.tag_txt %>
  <% end %>
</div>
<% end %>
</div>

<%= link_to 'コラ画像一覧', 'collas' %>
<%= link_to 'テンプレート一覧', 'templates' %>

