<h1>Collatter</h1>
<%= link_to 'Twitterでログイン', '/auth/twitter' %>
<% if logged_in? %>
  ログインしています
<% else %>
  ログインしてください
<% end %>


<p>検索欄がここに入る</p>

<p>人気のコラ画像</p>
<!-- <%= link_to 'Click', 'collas' %> -->

<%= link_to 'Colla1', @collas.first %>
<div class="favorite_collas">
  <div>
    <%= image_tag("dummy1.jpg") %>
    <%= link_to '魔法使い(Colla id=1)', @collas.first %>
  </div>
  <div>
    <%= image_tag("dummy2.png") %>
    <br><a href="collas/show">落単</a>
  </div>
  <div>
    <%= image_tag("dummy3.jpg") %>
    <br><a href="collas/show">鳳凰院凶真</a>
  </div>
</div>

<p>コラ画像を新しく作る</p>
<%= link_to 'Click', 'templates' %>
