<header>
  <h1>Collatter</h1>
</header>
<h2><%= link_to 'Collatterとは', 'static_pages/about' %></h2>
</div>
<form id="form1" action="自分のサイトURL" method="get">
<input id="sbox1" id="s" name="s" type="search" placeholder="キーワードを入力" />
<input id="sbtn1" type="submit" value="検索" /></form>

<p>人気のコラ画像</p>
<!-- <%= link_to 'Click', 'collas' %> -->

<div class="favorite_collas">
  <div>
    <%= image_tag("colla.jpg") %>
    <br><%= link_to '藤井油断', @collas.first %>
  </div>
  <div>
    <%= image_tag("dummy2.png") %>
    <br><%= link_to '単位', @collas.first %>
  </div>
  <div>
    <%= image_tag("dummy3.jpg") %>
    <br><a href="collas/show">鳳凰院凶真</a>
  </div>
</div>

<p>コラ画像を新しく作る</p>
<%= link_to 'Click', 'templates' %>
