<h1>人気のコラ画像</h1>
=======
<%= link_to 'Collatterの使い方', 'static_pages/about' %>

<p>人気のコラ画像</p>

<div class="favorite_collas">
<% @collas.each do |colla| %>
<div>
  <%= link_to colla, target: "_brank" do %>
    <%= image_tag colla.image.to_s %>
    <br><%= colla.tag_txt %>
  <% end %>
</div>
<% end %>
</div>

<%= link_to 'コラ画像一覧', 'collas' %>
<%= link_to 'テンプレート一覧', 'templates' %>

