<meta name="viewport" content="width=device-width, initial-scale=1.0">
<p id="notice"><%= notice %></p>

<h1>テンプレート一覧</h1>

<div class="collas">
<% @templates.each do |template| %>
<div>
  <%= link_to template, target: "_brank" do %>
    <%= image_tag template.image.to_s %>
    <br><%= template.tag_txt %>
  <% end %>
</div>
<% end %>
</div>

<br>
<%= link_to '新しいテンプレートを追加する', new_template_path %>
<br>
<%= link_to 'Topページ', root_path %>
