<p id="notice"><%= notice %></p>

<div class="templates">
  <%= image_tag @template.image.to_s %>
</div>
<p>
  <strong>タグ:</strong>
  <%= @template.tag_txt %>
</p>

<%= link_to 'コラを作る', new_colla_path(template_id: @template.id) %>

<%= link_to '戻る', templates_path %>
