<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @template.image %>
</p>
<p>
  <%= image_tag @template.image.to_s %>
</p>
<p>
  <strong>Tag txt:</strong>
  <%= @template.tag_txt %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
