<p id="notice"><%= notice %></p>

<h1>Collas</h1>

<div class="collas">
<% @collas.each do |colla| %>
<div>
  <%= link_to colla, target: "_brank" do %>
    <%= image_tag colla.image.to_s %>
    <br><%= colla.tag_txt %>
  <% end %>
</div>
<% end %>
</div>

<br>
<%= link_to 'New Colla', new_colla_path %>
<br>
<%= link_to 'Topページ', root_path %>
