<!DOCTYPE HTML>
<html lang="ja">
   <head>
       <meta charset="UTF-8">
       <title>画像ファイルをCANVSでプレビュー</title>
   </head>

   <body>

        <h1>新しいコラ画像を追加する</h1>

        <% if @template %>
          <%= image_tag @template.image.to_s, class: 'hidden', id: :template_image %>
        <% end %>

        <%= form_with(model: @colla, local: true, id: :colla_new) do |form| %>
          <% if @colla.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@colla.errors.count, "error") %> prohibited this colla from being saved:</h2>

              <ul>
                <% @colla.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%# form.label "元の画像をアップロードしてください" %>
          </div>

          <%= form.hidden_field :image_data_url, id: :image_data_url %>

          <!-- Canvas -->
          <div>
            <h3>入れたい文字を入力してください</h3>
            <textarea id="colla-text" name="text" rows="3"/>文字を入力</textarea><br>

            <input type="radio" name="write_direction" value="horizonal" checked>横書き
            <input type="radio" name="write_direction" value="vertical">縦書き
            <select id="font-color">
                <option value="#000000">黒</option>
                <option value="#ff0000">赤</option>
                <option value="#ffff00">黄</option>
                <option value="#0000ff">青</option>
              </select>
               <%#<
              <select id="font-size">
                <option value="50">特大</option>
                <option value="30">大</option>
                <option value="20">中</option>
                <option value="10">小</option>
              </select> %>

            <h3>文字を入れたい場所に移動させてください</h3>
            <canvas id="cnvs"></canvas><br>
          </div>
          <br>
          <div class="field">
            <%= form.label :コラ画像のタグを入力してください %>
            <%= form.text_field :tag_txt, id: :colla_tag_txt, :placeholder => "（例）イラスト屋" %>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
   </body>
</html>
