<p id="notice"><%= notice %></p>

<div class="collas">
  <%= image_tag @colla.image.to_s %>
</div>

<p>
  <strong>タグ:</strong>
  <%= @colla.tag_txt %>
</p>

<p>
  <strong>元のテンプレート画像：</strong>
  <%= @colla.template %>
</p>

<%= form_with url: '/twitter_post_media' do |f| %>
  <%= f.text_area :content, value: "Tweeted from #{request.url}" %>
  <%= f.hidden_field :colla, value: @colla.id %><br>
  <%= f.submit '画像とともにツイート' %>
<% end %>
