<!DOCTYPE html>
<html>
  <head>
    <title>Colatter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <body>
    <div class="header">
      <div class="logo">
        <%= link_to(image_tag("/collatter.png"), root_path) %>
      </div>

      <div class="twitter">
      <% if logged_in? %>
        <%= image_tag current_user.image_url.to_s %>
        <br><%= link_to 'ログアウト', logout_path, method: :delete %><!-- not working -->
        <%= current_user.username %>
      <% else %>
        <%= link_to 'Twitterでログイン', '/auth/twitter' %>ログインしてください
      <% end %>
      </div>

      <div class="fix">
      </div>
    </div>

    <div class="menu">
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <ul class="smartmenulist">
          <li><%= link_to 'コラ画像を見る', '/collas' %></li>
          <li><%= link_to 'コラ画像を作る', new_colla_path %></li>
          <li><%= link_to '元ネタ画像を見る', '/templates' %></li>
          <li><%= link_to '元ネタ画像を投稿する', new_template_path %></li>
          <li><%= link_to '使い方', '/static_pages/about' %></li>
          </ul>
        </div>
      </div>

      <ul class="menulist">
      <li><%= link_to 'コラ画像を見る', '/collas' %></li>
      <li><%= link_to 'コラ画像を作る', new_colla_path %></li>
      <li><%= link_to '元ネタ画像を見る', '/templates' %></li>
      <li><%= link_to '元ネタ画像を投稿する', new_template_path %></li>
      <li><%= link_to '使い方', '/static_pages/about' %></li>
      </ul>
    </div>

    <div class="all">
      <%= yield %>
    </div>
  </body>
</html>
